.row.menuPage {
  padding: 50px;
}

.row.menuPage .leftCol {
  height: 400px;
  width: 40%;
  margin-top: 50px;
  justify-content: center;
}

.messaging {
  height: 100%;
}

.row.menuPage .rightCol {
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  margin-top: 50px;
  border-radius: 8px;
  padding-left: 80px;
}

.findingMatch {
  order: 1;
  width: 40%;
}

/* TOP TRACKS DIV */

.topTracks {
  order: 2;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topTracksTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #f5f5f5;
}

.topTracksTitle h1 {
  font-size: 2.5vw;
}

#fireEmoji {
  max-width: 64px;
  margin-left: 10px;
  margin-bottom: 20px;
}

tbody {
  display: block;
  height: 300px;
  overflow: auto;
}

table,
th,
td {
  padding: 10px;
  font-size: 30px;
  border: none;
  border: 1px solid #f8f8f8;
}

#id {
  background-color: #0000;
  color: #f5f5f5;
  box-shadow: 1px 0px 1px black;
  text-align: center;
}

#tracks {
  background-color: rgb(27, 27, 27);
  color: #f5f5f5;
  box-shadow: 1px 0px 1px black;
  width: 300px;
  padding-left: 20px;
}

.rightCol a {
  text-decoration: none;
}
#tracks:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}

.row.bottomMenu {
  padding: 25px;
  width: 100%;
}

.bottomMenuContent {
  width: 100%;
  height: 150px;
  text-align: center;
}

.bottomMenuContent h1 {
  color: #f5f5f5;
  font-size: 20px;
  padding: 20px;
}
