.row.menuPage {
  padding-top: 50px;
  /* padding-left: 20px; */
  display: flex;
  flex-wrap: wrap;
}

.row.menuPage .leftCol {
  height: 400px;
  flex: 40%;
  margin: 50px;
}

.messaging {
  height: 100%;
}

.row.menuPage .rightCol {
  height: 400px;
  flex: 40%;
  margin: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

/* TOP TRACKS DIV */

.topTracks {
  order: 2;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topTracksTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #f5f5f5;
  padding-right: 50px;
}

.topTracksTitle h1 {
  font-size: 30px;
}

#fireEmoji {
  max-width: 64px;
  margin-left: 10px;
  margin-bottom: 20px;
}

tbody {
  display: block;
  height: 300px;
  overflow: auto;
  border: 1px solid #f8f8f8;
}

table {
  margin-right: 50px;
  border-spacing: 0;
}

th, td {
  padding: 10px;
  font-size: 25px;
  font-family: "Century Gothic";
  border: none;
  border: 1px solid #f8f8f8;
}

#id {
  background-color: #0000;
  color: #f5f5f5;
  box-shadow: 1px 0px 1px black;
  text-align: center;
}

#tracks {
  background-color: rgb(27, 27, 27);
  color: #f5f5f5;
  box-shadow: 1px 0px 1px black;
  width: 300px;
  padding-left: 20px;
}

.rightCol a {
  text-decoration: none;
}

#tracks:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}

.row.bottomMenu {
  width: 100%;
}

.bottomMenuContent {
  width: 100%;
  height: 150px;
  text-align: center;
}

.bottomMenuContent h1 {
  color: #f5f5f5;
  font-size: 20px;
  padding: 20px;
}

#construction {
  color: #f5f5f5;
  margin-left: -20px;
}

@media screen and (max-width: 1300px) {
  .topTracksTitle h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  #fireEmoji {
    display: none;
  }
  .topTracks {
    padding-left: 10%;
  }
}

@media screen and (max-width: 450px) {
  .row.menuPage .leftCol {
    margin: 10px;
    margin-left: 9px;
  }
  .topTracksTitle h1 {
    width: 120px;
    font-size: 20px;
  }
  tbody {
    width: 250px;
  }
}